:root {
  font-family: Oxygen, Arial, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --primary: ghostwhite;
  --secondary: white;
  --tertiary: rebeccapurple;
}

body {
  min-height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}
