---
title: "Are beds just a capatilist"
description: "A discovery piece on why we sleep in beds."
tags: Writing
---

Sleeping is a large part of our lives. It accounts for a third of our time on earth (albeit being unconscious). Sleep enables us to rest our muscles, removes toxins from our brain and retains memories. It's essential to intelligent life and almost all animals sleep. This technique of recovery requires no training and is essential to our young. Although the origins of sleep and dreams are still a mystery in the evolution timeline, there little doubt of its importance. 

Personally as a ploy to improve my sleep, I've tried in the past to adapt my sleep as close to what our ancestors did. This meant [polyastic sleep](https://en.wikipedia.org/wiki/Polyphasic_sleep). It never worked for me as it rarely fitted the reality of an 9-6 job.

But .. what if ... I trade my soft bed for a hard surface?

## How do we sleep?

### Different types of sleeping positions

Before looking too deeply into beds, let's take a detour on how we sleep. There are different types of sleeping positions. 

Some sleep on their back (supine like me) and some sleep on their side. There are also those out there that sleep on their front. These positions seem to come from habit and are ingrained into how we sleep. Though most people stick to one position at the start of their sleep, we [tend to move about](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5677378/). A common treatment to enforce side sleeping is through a [tennis ball](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2762713/) (to stop you from rolling) but the compliance is low. 

Is there a right way to sleep then? The research points out that most people (54%) sleep on the side but correlation vs causation of sleep quality and position is less understood. The main studies I found have small samples 30.

## When were the bed and pillows invented?

When did we start needing a pillow? It seems strange that our head somewhat dangles on our shoulders. Especially when lying flat our neck and tummy, two quite vulnerable parts of our body are exposed.

At a [Milk](https://wellcomecollection.org/exhibitions/Y8VNbhEAAPJM-oki) exhibition at the Wellcome Collection, I saw milk described as a pure marketing capitalist ploy which was engaged during and post the Second World War. A staple in our diets is mostly brought upon by companies looking to sell it. 65% per cent of people in the world are lactose intolerant, so perhaps it should be called lactose tolerance for these outliers.

Is it a similar case here? Are pillows and a soft bed a construction of capitalism?

There is [evidence](https://phys.org/news/2020-08-years-humans-beds.html) that prehistoric humans 200,000 years ago already slept on grass-laden beds. Egyptians had wooden beds and also explored using pillows and headrests. During Roman times, the mattresses on beds got more sophisticated with hay or wool and even feathers stuffed in them. These beds were a step up from sleeping on the floor, keeping insects away and providing an insulated base. More recently there are Kang beds from China which are heated underneath and Tatamis from Japan which are matted flooring used for sleeping.

The main benefits of a bed is to stay away from vermin and keep warm.

In modern times, beds definitely became softer and softer. As beds get softer it raises a question whether it's improving our sleep.

Beds became more and more widespread

### Do other animals sleep on beds?

A separate angle of attack is to look at our animals. Dog for example sleeps fine on hard surfaces and so do most non-domesticated animals. A monkey sleeps hugging a firm tree 10 metres off the ground. Many birds have a mechanism called [Tedon Locking](https://simple.wikipedia.org/wiki/Tendon_locking), which locks in their feet so that they don't fall off. I don't think I'll find that exceptionally comfortable and safe and indeed there are described cases of these animals falling off.

This shows a support for not needing to have beds. However, in the same vein, most animals don't wear clothes and those seem to be quite helpful against the cold. Tools define the man and the bed could be an impactful one.

There's evidence that our sleep is different and much [deeper than our close ancestors](https://onlinelibrary.wiley.com/doi/10.1002/evan.21464). We sleep less and have better intellect. This points to be a 


### Conclusion
The wider spread of beds 